body {
}

.navbar-toggler {
  border: none;
}


/* 


@media (min-width: 768px) {
  body {
      padding-top: 3.0rem;
  }

  .banner {
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  body {
      padding-top: 0.8rem;
  }

  .banner {
    min-height: 250px;
  }
} */